version: "3.9"

services:
  api:
    build: .
    container_name: pm_api
    restart: always
    volumes:
      - .:/var/www
    depends_on:
      - redis
    env_file:
      - .env
    ports:
      - "8000:8000"
    command: php artisan serve --host=0.0.0.0 --port=8000

  redis:
    image: redis:7
    container_name: pm_redis
    restart: always
    ports:
      - "6379:6379"

  worker:
    build: .
    container_name: pm_worker
    restart: always
    depends_on:
      - redis
    env_file:
      - .env
    command: php artisan horizon
